Language,[[:space:]]Space[[:space:]]and[[:space:]]Mind[[:space:]]-[[:space:]]from[[:space:]]drive.pdf filter=lfs diff=lfs merge=lfs -text
ProgressLog.pdf filter=lfs diff=lfs merge=lfs -text
PPT-Language,[[:space:]]Space[[:space:]]and[[:space:]]Mind.pdf filter=lfs diff=lfs merge=lfs -text
